/* Colors */

$light-color: #F5F5F7;
$dark-color: #221F20;

/* Measurement  */
$container-padding-inline: 25rem;
$footer-padding-inline: 10%;
$section-padding-top: 8rem;


// breakpoints
$point_1: 1200px;
$point_2: 1024px;
/* ! */
$point_3: 1023.98px;
$point_4: 768px;
/* ! */
$point_5: 767.98px;
$point_6: 480px;
$point_7: 375px;
/* ! */
$point_8: 374.98px;
/* ! */