/* Colors */

$light-color: #F5F5F7;
$dark-color: #221F20;

/* Measurement  */
$container-padding-inline: 13%;
$container-padding-inline-tablet: 6%;
$footer-padding-inline: 10%;
$footer-padding-inline-tablet: 6%;
$container-padding-inline-mobile: 1.5rem;
$section-padding-bottom: 8rem;


// breakpoints
$point_1: 1440px;
$point_2: 1200px;
$point_3: 1024px;
/* ! */
$point_4: 1023.98px;
$point_5: 768px;
/* ! */
$point_6: 750px;
$point_7: 576px;
$point_8: 480px;
$point_9: 375px;
/* ! */
$point_10: 374.98px;
/* ! */