:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-inline: 25rem;
    --footer-padding-inline: 10%;
    --section-padding-top: 8rem;
}

html {
    font-family: "Inter", sans-serif;
    font-size: 10px;
}

.section {
    background-color: var(--light-color);
    padding-top: var(--section-padding-top);
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-padding-inline);
}

footer .container {
    padding: 0 var(--footer-padding-inline);
}

.section.section--promo {
    position: relative;
    min-height: 100vh;
    padding-top: 7.5rem;
    background: url('../imgs/Bg.jpg') center center/ cover, no-repeat;
}

.promo__title {
    margin-bottom: 12.4rem;
    font-size: 6rem;
    font-weight: 400;
    line-height: 7.2rem;
    text-transform: uppercase;
    color: var(--light-color);
}

.promo__descr {
    margin-bottom: 2rem;
    font-size: 3.2rem;
    font-weight: 100;
    line-height: 3.9rem;
    color: var(--light-color);
}

.btn {
    display: inline-block;
    min-width: 1.6rem;
    min-height: 3.8rem;
    padding: 1rem 5rem;
    margin-bottom: 10rem;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.9rem;
    text-align: center;
    color: #D9D9D9;
    border: 1px solid var(--light-color);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-out;

}

.btn:hover {

    font-weight: 500;
    box-shadow: 0.5rem 0.5rem 1rem 0rem #FFFFFF9E;

}

.promo__addres,
.promo__phone {
    position: relative;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.9rem;
    color: var(--light-color);
    text-decoration: none;
}

.promo__addres::before {
    position: absolute;
    display: block;
    content: '';
    background-image: url(../icons/Arrow_promo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4.9rem;
    top: -1.8rem;
    left: -4.2rem;
}

.keywords {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: 0 36rem;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.04) 0%, rgba(255, 255, 255, 0.12) 50%, rgba(255, 255, 255, 0.2) 100%);

}

.keywords__item {
    color: var(--light-color);
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.2rem;
}

/* Section info */


.info__descr {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--dark-color);
}

.info__text {
    width: 110rem;
    margin-bottom: 8rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.8rem;
    color: var(--dark-color);
}

.info__text_span {
    color: #a5a5a5;
}

.services {
    display: flex;
    gap: 3rem;

}

.services__items {
    width: 50%;
    position: relative;

    .services_item__list:first-child::before {
        position: absolute;
        content: '';
        background-image: url(../icons/Camera.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 1.5rem;
        height: 1.2rem;
        top: 3.3rem;
        left: -3.1rem;

    }

    .services_item__list:nth-child(3)::after {
        position: absolute;
        content: '';
        background: url(../icons/Edit.svg) center center / contain no-repeat;
        width: 1.5rem;
        height: 1.2rem;
        top: 9rem;
        left: -3.1rem;
    }
}

.services__items__subtitle,
.services_item__list {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.9rem;
    margin-bottom: 1rem;
    color: var(--dark-color);
}

.services__text {
    width: 50%;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

/* Section 3 */


.title {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.8rem;
    color: var(--dark-color);

    .decor_title {
        position: relative;
    }

    .decor_title_2 {
        position: relative;
    }

    .decor_title::before {
        position: absolute;
        display: block;
        content: '';
        width: 75px;
        height: 1px;
        left: 10.2rem;
        bottom: 0;
        right: 0;
        border: 2px;
        background-color: var(--dark-color);
    }

    .decor_title_2::before {
        position: absolute;
        display: block;
        content: '';
        width: 7.5rem;
        height: 1px;
        left: 18rem;
        bottom: 0;
        right: 0;
        border: 2px;
        background-color: var(--dark-color);
    }
}

.works_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    column-gap: 3rem;
    row-gap: 5rem;
}

.grid__picture {
    display: block;
    object-position: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0.5rem 0.5rem 1rem #00000040;

}

.works_grid img:nth-child(-n+4) {
    max-height: 46.3rem;
}

.works_grid img:last-child {
    max-height: 70rem;
}

/* section 4 */

.inspiration_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 22.5rem);
    gap: 3rem;
}

.inspiration__picture {
    display: block;
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: 0.5rem 0.5rem 1rem #00000040;
}

.inspiration__picture:nth-child(5) {
    grid-column: 1/2;
}

.inspiration__picture:nth-child(6) {
    grid-column: 2/4;
}

.inspiration__picture:nth-child(4) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;
}


/* Section 5 */

.logo_wrapper {
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.logo_item {
    max-width: 100%;
    width: 33rem;
    height: 25rem;
    box-shadow: 0.7rem 0.7rem 1.2rem #00000040;
    margin-bottom: 10rem;
}

.logo__picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.footer {
    background-color: var(--dark-color);
}

.footer_info {
    padding-top: 8.8rem;
    padding-bottom: 8.8rem;
    display: flex;
    justify-content: space-between;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.social_media_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid var(--Light, #F5F5F7)
}

.footer_addres address {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--light-color);
}

.footer_info .promo__phone {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--light-color);
}